<%- include('partials/_header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sushi Time 🍣</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script src="/scripts/menu.js"></script>
  </head>
  <body>
    <h1 class="appetizer-header">Appetizers</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img
          src="/img/miso-soup.jpg"
          class="card-img-top"
          alt="Picture of Miso Soup"
        />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text price">$5.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="miso-soup-quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary miso-soup-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/onigiri.jpg"
          class="card-img-top"
          alt="Picture of Onigiri"
        />
        <div class="card-body">
          <h5 class="card-title">Onigiri (Japenese Rice Balls)</h5>
          <p class="card-text price">$7.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="onigiri-quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary onigiri-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/chilled_tofu.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Japenese Chilled Tofu</h5>
          <p class="card-text price">$8.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="tofu-quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary tofu-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/edamame.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Salted Adamame</h5>
          <p class="card-text price">$5.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="adamame-quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary adamame-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
    </article>

    <h1 class="appetizer-header">Main Dishes</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img src="/img/california_rolls.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">California Rolls</h5>
          <p class="card-text price">$15.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/chicken_teriyaki.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Chicken Teriyaki</h5>
          <p class="card-text price">$20.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/shrimp_tempura.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Shrimp Tempura</h5>
          <p class="card-text">$16.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/cucumber_roll.jpg"
          class="card-img-top"
          alt="Picture of Cucumber Rolls"
        />
        <div class="card-body">
          <h5 class="card-title">Cucumber Roll</h5>
          <p class="card-text">$15.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
    </article>
  </body>
</html>
