<%- include('partials/_header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sushi Time 🍣</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
    <script src="/scripts/menu.js"></script>
  </head>
  <body>
    <h1 class="appetizer-header">Appetizers</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img
          src="/img/miso-soup.jpg"
          class="card-img-top"
          alt="Picture of Miso Soup"
        />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text price miso-soup-price">$5.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="miso-soup-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn miso-soup-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/onigiri.jpg"
          class="card-img-top"
          alt="Picture of Onigiri"
        />
        <div class="card-body">
          <h5 class="card-title">Onigiri (Japenese Rice Balls)</h5>
          <p class="card-text price onigiri-price">$7.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="onigiri-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn onigiri-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/chilled_tofu.jpg"
          class="card-img-top"
          alt="Picture of Tofu"
        />
        <div class="card-body">
          <h5 class="card-title">Japenese Chilled Tofu</h5>
          <p class="card-text price tofu-price">$8.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="tofu-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn tofu-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/edamame.jpg"
          class="card-img-top"
          alt="Picture of Adamame"
        />
        <div class="card-body">
          <h5 class="card-title">Salted Adamame</h5>
          <p class="card-text price adamame-price">$5.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="adamame-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn adamame-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
    </article>

    <h1 class="appetizer-header">Main Dishes</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img
          src="/img/california_rolls.jpg"
          class="card-img-top"
          alt="Picture of California Rolls"
        />
        <div class="card-body">
          <h5 class="card-title">California Rolls</h5>
          <p class="card-text price california-rolls-price">$15.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="california-rolls-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn california-rolls-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/chicken_teriyaki.jpg"
          class="card-img-top"
          alt=".Picture of Chicken Teriyaki"
        />
        <div class="card-body">
          <h5 class="card-title">Chicken Teriyaki</h5>
          <p class="card-text price chicken-teriyaki-price">$20.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="chicken-teriyaki-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn chicken-teriyaki-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/shrimp_tempura.jpg"
          class="card-img-top"
          alt="Picture of Shrimp Tempura"
        />
        <div class="card-body">
          <h5 class="card-title">Shrimp Tempura</h5>
          <p class="card-text shrimp-tempura-price">$16.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="shrimp-tempura-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn shrimp-tempura-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/cucumber_roll.jpg"
          class="card-img-top"
          alt="Picture of Cucumber Rolls"
        />
        <div class="card-body">
          <h5 class="card-title">Cucumber Roll</h5>
          <p class="card-text cucumber-roll-price">$15.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="cucumber-rolls-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn cucumber-rolls-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
    </article>
    <h1 class="appetizer-header">Desserts</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img
          src="/img/ice_cream.jpg"
          class="card-img-top"
          alt="Picture of Green Tea Ice Cream"
        />
        <div class="card-body">
          <h5 class="card-title">Ice Cream</h5>
          <p class="card-text price ice-cream-price">$5.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="ice-cream-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn ice-cream-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/dorayaki.jpg"
          class="card-img-top"
          alt="Picture of Onigiri"
        />
        <div class="card-body">
          <h5 class="card-title">Dorayaki</h5>
          <p class="card-text price dorayaki-price">$8.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="dorayaki-quantity quantity"
              placeholder="0"
            />
          </div>
          <a href="#" class="btn dorayaki-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/cheesecake.jpg"
          class="card-img-top"
          alt="Picture of Cheesecake"
        />
        <div class="card-body">
          <h5 class="card-title">Japenese Cheesecake</h5>
          <p class="card-text price japenese-cheesecake-price">$11.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="japenese-cheesecake-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn japenese-cheesecake-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img
          src="/img/souffle_pancakes.jpg"
          class="card-img-top"
          alt="Picture of Souffle Pancakes"
        />
        <div class="card-body">
          <h5 class="card-title">Souffle Pancakes</h5>
          <p class="card-text price souffle-pancakes-price">$7.00</p>
          <div>
            <input
              type="number"
              name="quantity"
              class="souffle-pancakes-quantity quantity"
              placeholder="0"
            />
          </div>
          <a
            href="#"
            class="btn souffle-pancakes-add-to-cart add-to-cart"
            >Add to Cart</a
          >
        </div>
      </div>
    </article>
  </body>
</html>
