<%- include('partials/_header') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sushi Time 🍣</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <h1 class="appetizer-header">Appetizers</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img src="/img/miso-soup.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input
            type="text"
            name="quantity"
            class="quantity"
            placeholder="Quantity"
          />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/onigiri.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Onigiri (Japenese Rice Balls)</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input
            type="text"
            name="quantity"
            class="quantity"
            placeholder="Quantity"
          />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/chilled_tofu.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Japenese Chilled Tofu</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input
            type="text"
            name="quantity"
            class="quantity"
            placeholder="Quantity"
          />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/edamame.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Salted Adamame</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input
            type="text"
            name="quantity"
            class="quantity"
            placeholder="Quantity"
          />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
    </article>

    <h1 class="appetizer-header">Main Dishes</h1>
    <article class="item-container">
      <div class="card" style="width: 18rem">
        <img src="/img/california_rolls.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">California Rolls</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input
            type="text"
            name="quantity"
            class="quantity"
            placeholder="Quantity"
          />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/miso-soup.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input type="text" name="quantity" class="quantity" />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/miso-soup.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input type="text" name="quantity" class="quantity" />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="/img/miso-soup.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Miso Soup</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <input type="text" name="quantity" class="quantity" />
          <a href="#" class="btn btn-primary add-to-cart">Add to Cart</a>
        </div>
      </div>
    </article>
  </body>
</html>
