.order-button {
  font-size: 2em;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  border: 2px solid #ff782e;
}

#my-order-header {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #ff782e;
  font-size: 2em;
  border-bottom: none;
}

.order-button {
  background-color: #ff782e;
  color: #FFFFFF;
}

.order-button:hover {
  background-color: #a13e00;
  border: 2px solid #a13e00;
  color: #FFFFFF;
}

.order-button-container {
  display: flex;
  justify-content: end;
}




@media only screen and (max-width: 1024px) {
  .item-name {
    margin-top: 10px;
    text-align: center;
    
  }
  .item-quantity {
    justify-content: center;
    text-align: center;
  }
  .total-container {
    margin-top: 10px;
    text-align: center;
  }
  .delete-item {
    margin-top: 20px;
    text-align: center;
  }
  .order-button-container {
    display: flex;
    justify-content: center;
  }
}