.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.order-item {
  margin-top: 50px;
  text-align: center;
}


.order-button {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  background-color: #ff782e;
  border: 2px solid #ff782e;
}