h1 {
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  color: #ff782e;
  font-size: 40px;
  border-bottom: none;
  text-align: center;
}

.item-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.quantity {
  text-align: center;
  margin-bottom: 15px;
}

body {
  margin-top: 6.5em;
  margin-bottom: 2em;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

input[name="quantity"] {
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #ff782e;
  border: 2px solid #ff782e;
  color: #FFFFFF;
}
.add-to-cart:active {
  background-color: #a13e00;
  border: 2px solid #a13e00;
  color: #FFFFFF;
}

.error-message {
  color: red;
  border: 2px solid red;
}

.success-message {
  padding-bottom: -2px;
  border: 2px solid rgba($color: lightblue, $alpha: 0.3);
}

.add-to-cart:hover {
  background-color: #a13e00;
  border: 2px solid #a13e00;
  color: #FFFFFF;
}





