.navbar {
  background-color: #ffffff;

  border-bottom: 2px solid #ff782e;
  background: radial-gradient(circle at left bottom ,transparent 14%,#fdede4 15%, #fdede4 25%, transparent 26%, transparent 34%,#fdede480 35%, #fdede480 45%, transparent 46%, transparent 54%, #fdede4 55%, #fdede4 65%, transparent 66%, transparent 74%, #fdede480 75%, #fdede480 85%, transparent 86%);
  background-size: 1em 1em;
  background-color: #fafaf9;
  opacity: 1;
}

body {
  background-color: #f8f9fa
}

.navbar-collapse {
  justify-content: right;
}

.logo {
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  color: #ff782e;
  font-size: 40px;
  border-bottom: none;
}

.logo:hover {
  color: #e96310;
}

.navbar-buttons {
  font-family: "Lato", sans-serif;
  color: #f36214 !important;
  margin-left: 20px;
  font-size: 20px;
  text-align: center;
}

.logout {
  all: unset;
}

.fa-cart-shopping {
  color: #ff782e;
  letter-spacing: 4px;
}


