body {
  background-color: #faf7f7;
}

nav {
  position: fixed;
}

.navbar-bg {
  background-color: #ffffff;
  background: radial-gradient(
    circle at left bottom,
    transparent 14%,
    #ffd2ba 15%,
    #ffd2ba 25%,
    transparent 26%,
    transparent 34%,
    #ffd2ba80 35%,
    #ffd2ba80 45%,
    transparent 46%,
    transparent 54%,
    #ffd2ba 55%,
    #ffd2ba 65%,
    transparent 66%,
    transparent 74%,
    #ffd2ba80 75%,
    #ffd2ba80 85%,
    transparent 86%
  );
  background-size: 1em 1em;
  background-color: #ffe3d4;
  opacity: 1;
  border-bottom: 2px solid #ff782e;
}

.logo {
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  color: #ff782e;
  font-size: 40px;
  border-bottom: none;
}

.navbar-buttons {
  font-family: "Lato", sans-serif;
  color: #ff782e;
  font-size: 15px;
  border: 2px solid hsl(21, 100%, 59%);
  text-align: center;
  margin-left: 50px;
}

.navbar-buttons:hover {
  background-color: #ff782e;
  color: #ffffff;
}

.fa-cart-shopping {
  color: #ff782e;
  letter-spacing: 3px;
  margin-right: 5px;
}
