#orders-header {
  font-family: "Rock Salt", cursive;
  text-decoration: none;
  color: #ff782e;
  font-size: 2em;
  border-bottom: none;
}

.orders-table-head {
  background-color: #ff772e;
  color: #ffffff;
}
