#nameEnter {
  align-self: center;
}

#emailEnter {
  align-self: center;
}

#passwordEnter {
  align-self: center;
}

#phoneNumberEnter {
  align-self: center;
}

.card-body {
  color: #ff782e;
}

#i-text {
  font-family: "Rock Salt";
}

.registerButton {
  margin-top: 20px;
  align-self: center;
  width: 100px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  background-color: #ff782e;
  border: 2px solid #ff782e;
}

main {
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

input[type=text] {
  width: 300px;
  margin-bottom: 1em;
}

input[type=email] {
  width: 300px;
  margin-bottom: 1em;
}

input[type=password] {
  width: 300px;
  margin-bottom: 1em;
}


@media only screen and (max-width: 600px) {
  input[type=text] {
    width: auto;
  }

  input[type=email] {
    width: auto;
  }

  input[type=password] {
    width: auto;
  }
}
