#nameEnter {
  align-self: center;
}

#emailEnter {
  align-self: center;
}

#passwordEnter {
  align-self: center;
}

#phoneNumberEnter {
  align-self: center;
}

#registerButton {
  margin-top: 20px;
  width: 100px;
  align-self: center;
}
